.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  height: 120px;
  grid-column: 3 / -3;
}

.logo {
  max-width: 100%;
}

.headerNav {
  max-width: 100%;
}