.about-section {
  background-color: var(--primary-color-green);
}

.about-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.about-text {
  flex: 1;
}

.about-images {
  flex: 1;
}

.about-1{
  height: 500px;
  width: 100%;
  border-radius: 8px;
}

.about-2 {
  height: 500px;
  width: 100%;
  border-radius: 8px;
}