.about-section {
  background-color: var(--primary-color-green);
}

.about-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.about-text {
  flex: 1;
}

.about-images {
  --offset: 20px;
  position: relative
}

.image {
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-1{
  transform: translate(0, calc(var(--offset) * 2));
}

.about-2 {
  transform: translate(calc(var(--offset)), calc(var(--offset)));
}