.specials-section {
  padding-top: 1rem;
}

.specials-header {
  grid-column: 3 / -3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.specials-list {
  grid-column: 3 / -3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  max-height: 60px;
  background-color: var(--primary-color-yellow);
  border-radius: var(--corners-1);
  padding: 10px 40px;
  border: none;
}

.menu-button:hover {
  background-color: var(--secondary-color-salmon);
}