.main {
  padding-top: 0;
  grid-column: 3 / -3;
}

/* HERO SECTION */
.hero-section {
  background-color: var(--primary-color-green);
}

.hero-content {
  grid-column: 3 / -3;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 2rem;
}

.hero-left {
  flex: 1 1 40%;
}

.hero-right {
  flex: 1 1 40%;
}

.hero-image {
  width: 100%;
  height: 400px;
  max-width: 500px;
  object-fit: cover;
  border-radius: var(--corners-2);
}

.reserve-button {
  max-height: 60px;
  background-color: var(--primary-color-yellow);
  border-radius: var(--corners-2);
  padding: 10px 40px;
  border: none;

  margin-top: 2rem;
}

.reserve-button:hover {
  background-color: var(--secondary-color-salmon);
}

/* SPECIALS SECTION */
.specials-section {
  padding-top: 100px;
}

.specials-header {
  grid-column: 3 / -3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.menu-button {
  max-height: 60px;
  background-color: var(--primary-color-yellow);
  border-radius: var(--corners-1);
  padding: 10px 40px;
  border: none;
}

.menu-button:hover {
  background-color: var(--secondary-color-salmon);
}

/* TESTIMONIAL SECTION*/
.testimonial-section {
  display: flex;
  align-items: center;
}

/* ABOUT SECTION */
.about-section {
  background-color: var(--primary-color-green);
}


/* COMPONENT STYLES */
img {
    max-width: 100px; /*temp, delete later*/
}