.specials-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.specials-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.specials-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.specials-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.specials-card-header h3 {
  color: #333;
  margin: 0;
}

.specials-card-price {
  color: #e4a100;
}

.specials-card-description {
  padding: 10px !important;
  color: var(--highlight-color-black)
}

.specials-card-button {
  display: block;
  background: none;
  border: none;
  transition: color 0.3s ease;
}

.specials-card-button:hover {
  color: #eab308;
}