.layout {
  /* General layout styles */
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  /* 12-column grid setup */
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  /* Margins for layout */
  padding-inline: clamp(16px, 5vw, 70px); /* 70px */
  box-sizing: border-box;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
