/* Full-page layout wrapper */
.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sec-row-ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sec-row-l {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .sec-row-l {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .sec-row-l {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .sec-row-l {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .sec-row-l {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .sec-row-l {
    max-width: 1320px;
  }
}