.layout {
  /* General layout styles */
  min-height: 100vh;

  /* 12-column grid setup */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  /* Margins for layout */
  padding-inline: clamp(16px, 5vw, 70px); /* 70px */
  box-sizing: border-box;
}

.headerRow {
  grid-row: 1;
  grid-column: 3 / -3;
}

.mainRow {
  grid-row: 2;
  grid-column: 3 / -3;
}

.footerRow {
  grid-row: 3;
  grid-column: 3 / -3;
}
