/* LAYOUT STYLES */
.layout {
  /* General layout styles */
  min-height: 100vh;

  /* Row sectioning */
  display: grid;
  grid-auto-flow: row;      /* stack rows vertically */
  grid-template-rows: auto; /* or specific sizes if you want */
}

.section-row {
  /* 12-column grid setup */
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  /* Margins for layout */
  padding-inline: clamp(16px, 5vw, 70px); /* 70px */
  box-sizing: border-box;
}