@import "./styles/variables.css";
@import "./styles/typography.css";

body {
  margin: 0;
  font-family: "'Karla', sans-serif, 'Markazi Text', serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
